
.square {
    width: 500px;
    height: 300px;
    border: 3px solid black;
    position: absolute;
    padding: 30px 20px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(245, 245, 245);
    border-radius: 10%;
    padding-left: 50px;
}

.square .stream{
    margin: 8px;
}
.education {
    height: 100vh;
    width: 100vw;
    
}

h1{
    padding-top: 5px;
    text-align: center;
    font-size: 30px;
    color:rgba(220, 20, 83, 0.701);
}

/* .education .square .stream {
    padding-left: 50px;
} */
.resume{
    background-color: rgba(128, 128, 128, 0.482);
  }
 .education .square .stream button:hover{
    background-color: gray;
  }

.resume a{
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-size: 20px;

  }

  .talents{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 0 100px;
    padding-top: 100px;
    padding-bottom: 150px;
    gap: 20px;

}
.card{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: aqua;
    padding: 20px;
    justify-content: center;
    box-shadow: 0 0 20px 5px rgba(128, 128, 128, 0.301);

}

.talents .card1 p{
    font-size: 25px;
    font-weight: bold;
    color: rgba(0, 140, 255, 0.842);
    padding: 5px 0px 0px 20px;
}

.card img{
    border-radius:20%;
}