<h1>**please select the stream in which you want to view the projects**</h1>

<div class="education">
    <div class="square">    
        <div class="stream">
            <button class="resume"><a routerLink="/projectsview" routerLinkActive="active">Computer Science and Engineering</a></button>
        </div>
        <div class="stream">
            <button class="resume"><a href="#">Electronics and Communication Engineering </a></button>
        </div>
        <div class="stream">
            <button class="resume"><a href="#">Electrical and Electronics Engineering</a></button>
        </div>
        <div class="stream">
            <button class="resume"><a href="#">Civil Engineering</a></button>
        </div>
        <div class="stream">
            <button class="resume"><a href="#">Mechanical</a></button>
        </div>
    </div>

    
</div>