<div class="videos">
    <div class="video-card">
        <video controls>
            <source src="assets/project2.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="interaction">
            <button id="likeBtn" onclick="handlelikeClick()"><i class="fas fa-thumbs-up"></i> Like</button>
            <button id="dislikeBtn" onclick="handleDislikeClick()"><i class="fas fa-thumbs-down"></i> Dislike</button>
            <button id="commentBtn"><i class="fas fa-comment"></i> Comment</button>
        </div>
    </div>
    <div class="video-card">
        <video controls>
            <source src="assets/project3.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="interaction">
            <button id="likeBtn" onclick="handlelikeClick()"><i class="fas fa-thumbs-up"></i> Like</button>
            <button id="dislikeBtn" onclick="handleDislikeClick()"><i class="fas fa-thumbs-down"></i> Dislike</button>
            <button id="commentBtn"><i class="fas fa-comment"></i> Comment</button>
        </div>
    </div>
    <div class="video-card">
        <video controls>
            <source src="assets/project4.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="interaction">
            <button id="likeBtn"><i class="fas fa-thumbs-up"></i> Like</button>
            <button id="dislikeBtn"><i class="fas fa-thumbs-down"></i> Dislike</button>
            <button id="commentBtn"><i class="fas fa-comment"></i> Comment</button>
        </div>
    </div>
</div>

<div class="videos">
    <div class="video-card">
        <video controls>
            <source src="assets/project4.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="interaction">
            <button id="likeBtn"><i class="fas fa-thumbs-up"></i> Like</button>
            <button id="dislikeBtn"><i class="fas fa-thumbs-down"></i> Dislike</button>
            <button id="commentBtn"><i class="fas fa-comment"></i> Comment</button>
        </div>
    </div>
    <div class="video-card">
        <video controls>
            <source src="assets/project3.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="interaction">
            <button id="likeBtn"><i class="fas fa-thumbs-up"></i> Like</button>
            <button id="dislikeBtn"><i class="fas fa-thumbs-down"></i> Dislike</button>
            <button id="commentBtn"><i class="fas fa-comment"></i> Comment</button>
        </div>
    </div>
    <div class="video-card">
        <video controls>
            <source src="assets/project2.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="interaction">
            <button id="likeBtn"><i class="fas fa-thumbs-up"></i> Like</button>
            <button id="dislikeBtn"><i class="fas fa-thumbs-down"></i> Dislike</button>
            <button id="commentBtn"><i class="fas fa-comment"></i> Comment</button>
        </div>
    </div>
</div>